body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f3f1ec;;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    margin-top: 10px;
    font-size:20px;
    letter-spacing: 0.5px;
}
.section
{
    display: flex;
    justify-content: center;
    padding: 100px;
    gap: 30px;
}
.icon
{
  display: center;
  width: 300px;
  height: 20px;
  font-size: 28px;
}
.Login
{
    width: 250px;
    padding: 5px 20px;
    border-radius: 15px;
    
    transition: all 0.3s ease;
    
}

.Login:hover {
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
}

.Login input {
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    transition: 0.3s;
}
.user{
    width: 300px;
    padding: 41px 25px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;     
    border-radius: 15px;         
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.user:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
.tradesperson{
    width: 300px;
    padding: 41px 25px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;     
    border-radius: 15px;         
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.tradesperson:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
button
{
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 200px;
}
button:hover
{
    background-color: rgb(226, 226, 204);
    color: black;
}
footer
{
    margin-top: 5px;
}
