
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        url('wp.png');  
    
    background-size: cover;      
    background-attachment: fixed; 
    min-height: 100vh;/*عشان دايما تبقى الصفحة ظاهرة كاملة وميتقصش منها حاجة*/
    color: white;
    overflow-x: hidden; /*دا عشان لو في زيادات برا الصفحة يخفيها وميعملش تحت سكرول بار ويبوظ شكل الصفحة*/
}


ul {
    display :flex;
    justify-content: flex-end;
    padding: 16px 40px;
    list-style: none;
    
}

ul li {
    margin-left: 32px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    transition: 0.3s;
    opacity: 0.8;
}

ul li a:hover {
    opacity: 1;
}

#home {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#home h1 {
    font-size: 4rem;
    letter-spacing: 4px;
    margin-bottom: 24px;
}


#startbtn {
    padding: 12px 24px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
    border-radius: 48px;
    background-color: white;
    color: #2c3e50;
    font-weight: bold;
    transition: transform 0.2s, boxshadow 0.3s;
}

#startbtn:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
}


footer {
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.7;
}
